:root {
  --button-color: black;
  --button-active-color: gray;
  --button-close-active-color: red;
  --button-sticky-color: orange;
}

body {
  /* ウィンドウの移動 */
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.titlebar {
  height: 30px;
  width: 100%;
  text-align: center;
  line-height: 30px;

  display: flex;
  flex-direction: row;

  color: white;
  background-color: black;
}

.flex {
  display: flex;
}

.flex-none {
  flex: none;
}

.flex-1 {
  flex: 1 1 0%;
}

.hide {
  display: none !important;
}

.button__image {
  width: 22px;
  height: 22px;
  margin: 3px;
}

.button-pin__image {
  width: 28px;
  height: 28px;
}

.button {
  display: block;
  appearance: none;
  border: 1px solid var(--button-color);
  background-color: var(--button-color);
}

.button-normal:active {
  background-color: var(--button-active-color);
  border: 1px solid var(--button-active-color);
}

.button-close:active {
  background-color: var(--button-close-active-color);
  border: 1px solid var(--button-close-active-color);
}

.button-sticky__selected {
  background-color: var(--button-sticky-color);
  border: 1px solid var(--button-sticky-color);
}